***Trend of disposition for the last five years***

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/court-data/judges_clean/judges_clean.csv
/kaggle/input/court-data/acts_sections/acts_sections.csv
/kaggle/input/court-data/cases/cases/cases_2015.csv
/kaggle/input/court-data/cases/cases/cases_2012.csv
/kaggle/input/court-data/cases/cases/cases_2018.csv
/kaggle/input/court-data/cases/cases/cases_2013.csv
/kaggle/input/court-data/cases/cases/cases_2017.csv
/kaggle/input/court-data/cases/cases/cases_2010.csv
/kaggle/input/court-data/cases/cases/cases_2014.csv
/kaggle/input/court-data/cases/cases/cases_2016.csv
/kaggle/input/court-data/cases/cases/cases_2011.csv
/kaggle/input/court-data/keys/keys/type_name_key.csv
/kaggle/input/court-data/keys/keys/cases_district_key.csv
/kaggle/input/court-data/keys/keys/act_key.csv
/kaggle/input/court-data/keys/keys/disp_name_key.csv
/kaggle/input/court-data/keys/keys/purpose_name_key.csv
/kaggle/input/court-data/keys/keys/cases_state_key.csv
/kaggle/input/court-data/keys/keys/section_key.csv
/kaggle/input/court-data/keys/keys/cases_court_key.csv
/kaggle/input/court-data/keys/keys/judge_case_merge_key.csv

In [2]:
cases_2014 = pd.read_csv("/kaggle/input/court-data/cases/cases/cases_2014.csv")
cases_2014

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-201908000022014,2014,1,1,1,MHNB030000982014,chief judicial magistrate,-9998 unclear,0 male,-9999,-9998,1907.0,5487.0,25,2014-01-03,2014-10-28,2014-01-16,2014-09-30,2014-10-28
1,01-01-01-201908000032014,2014,1,1,1,MHNB030001052014,chief judicial magistrate,0 male,1 female,-9999,1,1907.0,6304.0,25,2014-01-01,2015-08-10,2014-02-11,2015-08-03,2015-08-10
2,01-01-01-201908000052014,2014,1,1,1,MHNB030001302014,chief judicial magistrate,0 male,1 female,-9999,0,1907.0,4366.0,25,2014-01-02,2014-06-10,2014-02-12,2014-05-29,2014-06-10
3,01-01-01-201908000062014,2014,1,1,1,MHNB030000512014,chief judicial magistrate,0 male,1 female,-9998,0,1907.0,4823.0,22,2014-01-04,2016-11-14,2014-01-04,2016-11-14,2016-11-14
4,01-01-01-201908000072014,2014,1,1,1,MHNB030000522014,chief judicial magistrate,0 male,0 male,-9999,0,1907.0,5487.0,25,2014-01-04,2014-01-04,2014-01-04,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8874611,33-02-02-219600000252014,2014,33,2,2,LDLH020000012014,principal district judge,-9998 unclear,0 male,1,0,1306.0,5487.0,24,2014-11-21,2018-08-01,2017-07-31,2018-08-01,2018-08-01
8874612,33-02-02-224400000312014,2014,33,2,2,LDLH020000082014,principal district judge,-9998 unclear,0 male,1,0,420.0,7065.0,24,2014-11-21,2017-11-20,2017-08-16,2017-11-20,2017-11-20
8874613,33-02-03-202100000392014,2014,33,2,3,LDLH030000042014,chief judicial magistrate,0 male,-9998 unclear,0,1,1853.0,809.0,24,2014-09-08,2020-07-29,2017-08-10,2020-07-29,2020-07-29
8874614,33-02-03-202100000452014,2014,33,2,3,LDLH030000052014,chief judicial magistrate,0 male,-9998 unclear,-9998,1,1853.0,809.0,4,2014-10-08,2017-10-31,2017-08-14,2017-10-31,2017-10-31
8874615,33-02-03-202100000592014,2014,33,2,3,LDLH030000012014,chief judicial magistrate,0 male,-9998 unclear,0,1,1853.0,5487.0,24,2014-11-08,2019-10-10,2017-08-01,2019-10-10,2019-10-10

In [3]:
list(cases_2014.columns)

['ddl_case_id',
 'year',
 'state_code',
 'dist_code',
 'court_no',
 'cino',
 'judge_position',
 'female_defendant',
 'female_petitioner',
 'female_adv_def',
 'female_adv_pet',
 'type_name',
 'purpose_name',
 'disp_name',
 'date_of_filing',
 'date_of_decision',
 'date_first_list',
 'date_last_list',
 'date_next_list']

In [4]:
cols = ['dist_code', 'court_no', 'cino', 'female_defendant', 'female_petitioner', 'female_adv_def', 'female_adv_pet', 'type_name', 'purpose_name', 'date_first_list', 'date_last_list', 'date_next_list']

In [5]:
cases_2014.drop(columns=cols, inplace=True)
cases_2014

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000022014,2014,1,chief judicial magistrate,25,2014-01-03,2014-10-28
1,01-01-01-201908000032014,2014,1,chief judicial magistrate,25,2014-01-01,2015-08-10
2,01-01-01-201908000052014,2014,1,chief judicial magistrate,25,2014-01-02,2014-06-10
3,01-01-01-201908000062014,2014,1,chief judicial magistrate,22,2014-01-04,2016-11-14
4,01-01-01-201908000072014,2014,1,chief judicial magistrate,25,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...
8874611,33-02-02-219600000252014,2014,33,principal district judge,24,2014-11-21,2018-08-01
8874612,33-02-02-224400000312014,2014,33,principal district judge,24,2014-11-21,2017-11-20
8874613,33-02-03-202100000392014,2014,33,chief judicial magistrate,24,2014-09-08,2020-07-29
8874614,33-02-03-202100000452014,2014,33,chief judicial magistrate,4,2014-10-08,2017-10-31
8874615,33-02-03-202100000592014,2014,33,chief judicial magistrate,24,2014-11-08,2019-10-10

In [6]:
cases_2015 = pd.read_csv("/kaggle/input/court-data/cases/cases/cases_2015.csv")
cases_2015

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-201908000012015,2015,1,1,1,MHNB030000242015,chief judicial magistrate,-9998 unclear,1 female,-9999,0,1978.0,6013.0,25,2015-01-01,2015-02-25,2015-01-01,2015-02-16,2015-02-25
1,01-01-01-201908000022015,2015,1,1,1,MHNB030000282015,chief judicial magistrate,0 male,1 female,0,1,1978.0,5446.0,30,2015-01-02,2016-12-01,2015-01-02,2016-12-01,2016-12-01
2,01-01-01-201908000032015,2015,1,1,1,MHNB030000272015,chief judicial magistrate,0 male,0 male,-9999,0,1978.0,6013.0,32,2015-01-02,2015-02-25,2015-01-02,2015-02-16,2015-02-25
3,01-01-01-201908000042015,2015,1,1,1,MHNB030000482015,chief judicial magistrate,0 male,0 male,-9999,0,1978.0,6210.0,51,2015-01-03,2016-03-21,2015-01-03,2016-03-21,2016-03-21
4,01-01-01-201908000052015,2015,1,1,1,MHNB030000332015,chief judicial magistrate,-9998 unclear,0 male,0,0,1978.0,6013.0,25,2015-01-05,2015-01-12,2015-01-05,2015-01-05,2015-01-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10475871,33-02-03-217800000792015,2015,33,2,3,LDLH030000252015,chief judicial magistrate,0 male,-9998 unclear,1,1,977.0,6210.0,4,2015-12-17,2017-10-30,2017-10-06,2017-10-30,2017-10-30
10475872,33-02-03-218300000082015,2015,33,2,3,LDLH030000022015,chief judicial magistrate,0 male,0 male,0,1,188.0,6210.0,22,2015-06-15,2018-06-12,2017-07-26,2018-06-12,2018-06-12
10475873,33-02-03-218300000102015,2015,33,2,3,LDLH030000042015,chief judicial magistrate,0 male,1 female,1,0,188.0,4842.0,24,2015-08-17,2019-03-30,2017-07-27,2019-03-30,2019-03-30
10475874,33-02-03-220700000072015,2015,33,2,3,LDLH030000192015,chief judicial magistrate,0 male,1 female,0,0,2857.0,4705.0,24,2015-06-25,2017-10-27,2017-08-09,2017-10-27,2017-10-27
10475875,33-02-03-224100000822015,2015,33,2,3,LDLH030000242015,chief judicial magistrate,0 male,-9998 unclear,0,1,5922.0,922.0,4,2015-12-26,2018-05-24,2017-09-09,2018-05-24,2018-05-24

In [7]:
cases_2015.drop(columns=cols, inplace=True)
cases_2015

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000012015,2015,1,chief judicial magistrate,25,2015-01-01,2015-02-25
1,01-01-01-201908000022015,2015,1,chief judicial magistrate,30,2015-01-02,2016-12-01
2,01-01-01-201908000032015,2015,1,chief judicial magistrate,32,2015-01-02,2015-02-25
3,01-01-01-201908000042015,2015,1,chief judicial magistrate,51,2015-01-03,2016-03-21
4,01-01-01-201908000052015,2015,1,chief judicial magistrate,25,2015-01-05,2015-01-12
...,...,...,...,...,...,...,...
10475871,33-02-03-217800000792015,2015,33,chief judicial magistrate,4,2015-12-17,2017-10-30
10475872,33-02-03-218300000082015,2015,33,chief judicial magistrate,22,2015-06-15,2018-06-12
10475873,33-02-03-218300000102015,2015,33,chief judicial magistrate,24,2015-08-17,2019-03-30
10475874,33-02-03-220700000072015,2015,33,chief judicial magistrate,24,2015-06-25,2017-10-27
10475875,33-02-03-224100000822015,2015,33,chief judicial magistrate,4,2015-12-26,2018-05-24

In [8]:
cases_2016 = pd.read_csv("/kaggle/input/court-data/cases/cases/cases_2016.csv")
cases_2016

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-201900000012016,2016,1,1,1,MHNB030000032016,chief judicial magistrate,0 male,0 male,-9999,0,1940.0,767.0,26,2016-01-02,2016-02-16,2016-01-02,2016-02-16,2016-02-16
1,01-01-01-201900000022016,2016,1,1,1,MHNB030000042016,chief judicial magistrate,0 male,0 male,-9999,0,1940.0,767.0,26,2016-01-02,2016-02-16,2016-01-02,2016-02-16,2016-02-16
2,01-01-01-201900000032016,2016,1,1,1,MHNB030000052016,chief judicial magistrate,0 male,1 female,-9999,0,1940.0,4878.0,43,2016-01-02,2016-02-13,2016-01-02,2016-02-13,2016-02-13
3,01-01-01-201900000042016,2016,1,1,1,MHNB030000062016,chief judicial magistrate,0 male,0 male,-9999,1,1940.0,7430.0,23,2016-01-05,2017-06-07,2016-01-05,2017-06-07,2017-06-07
4,01-01-01-201900000052016,2016,1,1,1,MHNB030000072016,chief judicial magistrate,0 male,0 male,-9999,0,1940.0,5251.0,26,2016-01-06,2016-02-18,2016-01-06,2016-02-18,2016-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11349255,33-02-03-220700000112016,2016,33,2,3,LDLH030000162016,chief judicial magistrate,0 male,0 male,-9999,1,2808.0,5884.0,5,2016-05-03,2018-03-13,2017-07-27,2018-03-13,2018-03-13
11349256,33-02-03-220700000152016,2016,33,2,3,LDLH030000232016,chief judicial magistrate,0 male,0 male,1,0,2808.0,4277.0,25,2016-11-24,2017-12-22,2017-08-01,2017-12-22,2017-12-22
11349257,33-02-03-221800000352016,2016,33,2,3,LDLH030000622016,chief judicial magistrate,1 female,-9998 unclear,-9999,1,3308.0,767.0,23,2016-12-09,2017-10-25,2017-09-25,2017-10-25,2017-10-25
11349258,33-02-03-224000000112016,2016,33,2,3,LDLH030000322016,chief judicial magistrate,0 male,1 female,-9998,0,3980.0,1056.0,25,2016-10-07,2018-09-12,2017-08-03,2018-09-12,2018-09-12
11349259,33-02-03-224300000032016,2016,33,2,3,LDLH030000582016,chief judicial magistrate,1 female,-9998 unclear,-9999,-9998,2474.0,6654.0,49,2016-03-05,2017-10-11,2017-08-17,2017-10-11,2017-10-11

In [9]:
cases_2016.drop(columns=cols, inplace=True)
cases_2016

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201900000012016,2016,1,chief judicial magistrate,26,2016-01-02,2016-02-16
1,01-01-01-201900000022016,2016,1,chief judicial magistrate,26,2016-01-02,2016-02-16
2,01-01-01-201900000032016,2016,1,chief judicial magistrate,43,2016-01-02,2016-02-13
3,01-01-01-201900000042016,2016,1,chief judicial magistrate,23,2016-01-05,2017-06-07
4,01-01-01-201900000052016,2016,1,chief judicial magistrate,26,2016-01-06,2016-02-18
...,...,...,...,...,...,...,...
11349255,33-02-03-220700000112016,2016,33,chief judicial magistrate,5,2016-05-03,2018-03-13
11349256,33-02-03-220700000152016,2016,33,chief judicial magistrate,25,2016-11-24,2017-12-22
11349257,33-02-03-221800000352016,2016,33,chief judicial magistrate,23,2016-12-09,2017-10-25
11349258,33-02-03-224000000112016,2016,33,chief judicial magistrate,25,2016-10-07,2018-09-12
11349259,33-02-03-224300000032016,2016,33,chief judicial magistrate,49,2016-03-05,2017-10-11

In [10]:
cases_2017 = pd.read_csv("/kaggle/input/court-data/cases/cases/cases_2017.csv")
cases_2017

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-201900000012017,2017,1,1,1,MHNB030000102017,chief judicial magistrate,0 male,0 male,-9999,0,1943.0,3206.0,26,2017-01-02,2017-03-06,2017-01-02,2017-03-06,2017-03-06
1,01-01-01-201900000022017,2017,1,1,1,MHNB030000282017,chief judicial magistrate,0 male,0 male,-9999,1,1943.0,6212.0,26,2017-01-04,2017-02-27,2017-01-04,2017-02-27,2017-02-27
2,01-01-01-201900000032017,2017,1,1,1,MHNB030000292017,chief judicial magistrate,-9998 unclear,0 male,-9999,0,1943.0,6004.0,31,2017-01-04,2017-01-21,2017-01-04,2017-01-21,2017-01-21
3,01-01-01-201900000042017,2017,1,1,1,MHNB030000302017,chief judicial magistrate,0 male,0 male,-9999,1,1943.0,3206.0,31,2017-01-04,2017-02-14,2017-01-04,2017-02-14,2017-02-14
4,01-01-01-201900000052017,2017,1,1,1,MHNB030000312017,chief judicial magistrate,-9998 unclear,0 male,-9999,0,1943.0,7122.0,31,2017-01-04,2017-01-06,2017-01-04,2017-01-06,2017-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065508,33-02-03-224000000122017,2017,33,2,3,LDLH030000662017,chief judicial magistrate,0 male,1 female,-9999,1,3953.0,7561.0,52,2017-09-06,2017-10-27,2017-10-05,2017-10-27,2017-10-27
13065509,33-02-03-224000000132018,2017,33,2,3,LDLH030000012018,chief judicial magistrate,0 male,1 female,-9999,1,3953.0,1239.0,23,2017-12-27,2018-08-04,2018-03-03,2018-08-04,2018-08-04
13065510,33-02-03-224100000122017,2017,33,2,3,LDLH030000312017,chief judicial magistrate,0 male,-9998 unclear,-9999,1,5922.0,3206.0,33,2017-07-07,2017-11-28,2017-08-07,2017-11-28,2017-11-28
13065511,33-02-03-224600000012018,2017,33,2,3,LDLH030000182018,chief judicial magistrate,1 female,0 male,-9999,-9999,3374.0,1309.0,25,2017-12-30,2019-12-28,2018-04-12,2019-12-28,2019-12-28
13065512,33-02-03-224600000092017,2017,33,2,3,LDLH030001102017,chief judicial magistrate,0 male,0 male,1,1,3374.0,2403.0,25,2017-07-19,2018-03-17,2018-03-16,2018-03-17,2018-03-17

In [11]:
cases_2017.drop(columns=cols, inplace=True)
cases_2017

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201900000012017,2017,1,chief judicial magistrate,26,2017-01-02,2017-03-06
1,01-01-01-201900000022017,2017,1,chief judicial magistrate,26,2017-01-04,2017-02-27
2,01-01-01-201900000032017,2017,1,chief judicial magistrate,31,2017-01-04,2017-01-21
3,01-01-01-201900000042017,2017,1,chief judicial magistrate,31,2017-01-04,2017-02-14
4,01-01-01-201900000052017,2017,1,chief judicial magistrate,31,2017-01-04,2017-01-06
...,...,...,...,...,...,...,...
13065508,33-02-03-224000000122017,2017,33,chief judicial magistrate,52,2017-09-06,2017-10-27
13065509,33-02-03-224000000132018,2017,33,chief judicial magistrate,23,2017-12-27,2018-08-04
13065510,33-02-03-224100000122017,2017,33,chief judicial magistrate,33,2017-07-07,2017-11-28
13065511,33-02-03-224600000012018,2017,33,chief judicial magistrate,25,2017-12-30,2019-12-28
13065512,33-02-03-224600000092017,2017,33,chief judicial magistrate,25,2017-07-19,2018-03-17

In [12]:
cases_2018 = pd.read_csv("/kaggle/input/court-data/cases/cases/cases_2018.csv")
cases_2018

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-201900000012018,2018,1,1,1,MHNB030000022018,chief judicial magistrate,0 male,0 male,-9999,0,1943,2975.0,33,2018-01-01,2018-02-07,2018-01-01,2018-02-07,2018-02-07
1,01-01-01-201900000022018,2018,1,1,1,MHNB030000032018,chief judicial magistrate,0 male,0 male,-9999,0,1943,3315.0,52,2018-01-01,2018-02-01,2018-01-01,2018-02-01,2018-02-01
2,01-01-01-201900000032018,2018,1,1,1,MHNB030000042018,chief judicial magistrate,0 male,0 male,-9999,0,1943,5877.0,52,2018-01-01,2018-02-01,2018-01-01,2018-02-01,2018-02-01
3,01-01-01-201900000042018,2018,1,1,1,MHNB030000052018,chief judicial magistrate,0 male,0 male,-9999,0,1943,840.0,52,2018-01-01,2018-02-01,2018-01-01,2018-02-01,2018-02-01
4,01-01-01-201900000052018,2018,1,1,1,MHNB030000062018,chief judicial magistrate,-9998 unclear,0 male,-9999,1,1943,840.0,5,2018-01-01,2018-01-09,2018-01-01,2018-01-09,2018-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13724294,33-02-03-224600000062018,2018,33,2,3,LDLH030000932018,chief judicial magistrate,0 male,1 female,-9999,0,3364,8109.0,25,2018-07-26,2018-09-12,2018-08-29,2018-09-12,2018-09-12
13724295,33-02-03-224600000072018,2018,33,2,3,LDLH030000972018,chief judicial magistrate,0 male,0 male,-9999,0,3364,5807.0,25,2018-08-25,2019-03-23,2018-09-11,2019-03-23,2019-03-23
13724296,33-02-03-224600000082018,2018,33,2,3,LDLH030001102018,chief judicial magistrate,0 male,1 female,0,0,3364,2234.0,25,2018-09-06,2019-03-28,2018-09-20,2019-03-28,2019-03-28
13724297,33-02-03-224600000092018,2018,33,2,3,LDLH030001182018,chief judicial magistrate,0 male,1 female,-9999,0,3364,4476.0,25,2018-09-14,2019-09-21,2018-09-20,2019-09-21,2019-09-21
13724298,33-02-03-224600000102018,2018,33,2,3,LDLH030001312018,chief judicial magistrate,0 male,1 female,-9999,0,3364,2234.0,16,2018-09-28,2018-12-29,2018-10-05,2018-12-29,2018-12-29

In [13]:
cases_2018.drop(columns=cols, inplace=True)
cases_2018

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201900000012018,2018,1,chief judicial magistrate,33,2018-01-01,2018-02-07
1,01-01-01-201900000022018,2018,1,chief judicial magistrate,52,2018-01-01,2018-02-01
2,01-01-01-201900000032018,2018,1,chief judicial magistrate,52,2018-01-01,2018-02-01
3,01-01-01-201900000042018,2018,1,chief judicial magistrate,52,2018-01-01,2018-02-01
4,01-01-01-201900000052018,2018,1,chief judicial magistrate,5,2018-01-01,2018-01-09
...,...,...,...,...,...,...,...
13724294,33-02-03-224600000062018,2018,33,chief judicial magistrate,25,2018-07-26,2018-09-12
13724295,33-02-03-224600000072018,2018,33,chief judicial magistrate,25,2018-08-25,2019-03-23
13724296,33-02-03-224600000082018,2018,33,chief judicial magistrate,25,2018-09-06,2019-03-28
13724297,33-02-03-224600000092018,2018,33,chief judicial magistrate,25,2018-09-14,2019-09-21
13724298,33-02-03-224600000102018,2018,33,chief judicial magistrate,16,2018-09-28,2018-12-29

In [14]:
#Merging Data of Last five years

In [15]:
cases_last_5yrs = cases_2014.append(cases_2015, ignore_index=True)
cases_last_5yrs

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000022014,2014,1,chief judicial magistrate,25,2014-01-03,2014-10-28
1,01-01-01-201908000032014,2014,1,chief judicial magistrate,25,2014-01-01,2015-08-10
2,01-01-01-201908000052014,2014,1,chief judicial magistrate,25,2014-01-02,2014-06-10
3,01-01-01-201908000062014,2014,1,chief judicial magistrate,22,2014-01-04,2016-11-14
4,01-01-01-201908000072014,2014,1,chief judicial magistrate,25,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...
19350487,33-02-03-217800000792015,2015,33,chief judicial magistrate,4,2015-12-17,2017-10-30
19350488,33-02-03-218300000082015,2015,33,chief judicial magistrate,22,2015-06-15,2018-06-12
19350489,33-02-03-218300000102015,2015,33,chief judicial magistrate,24,2015-08-17,2019-03-30
19350490,33-02-03-220700000072015,2015,33,chief judicial magistrate,24,2015-06-25,2017-10-27
19350491,33-02-03-224100000822015,2015,33,chief judicial magistrate,4,2015-12-26,2018-05-24

In [16]:
# deleting 'cases_2015' dataFrame from memory

In [17]:
import warnings
warnings.simplefilter('ignore')
import gc
import subprocess

In [18]:
del cases_2014
gc.collect()

112

In [19]:
del cases_2015
gc.collect()

21

In [20]:
cases_last_5yrs = cases_last_5yrs.append(cases_2016, ignore_index=True)
cases_last_5yrs

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000022014,2014,1,chief judicial magistrate,25,2014-01-03,2014-10-28
1,01-01-01-201908000032014,2014,1,chief judicial magistrate,25,2014-01-01,2015-08-10
2,01-01-01-201908000052014,2014,1,chief judicial magistrate,25,2014-01-02,2014-06-10
3,01-01-01-201908000062014,2014,1,chief judicial magistrate,22,2014-01-04,2016-11-14
4,01-01-01-201908000072014,2014,1,chief judicial magistrate,25,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...
30699747,33-02-03-220700000112016,2016,33,chief judicial magistrate,5,2016-05-03,2018-03-13
30699748,33-02-03-220700000152016,2016,33,chief judicial magistrate,25,2016-11-24,2017-12-22
30699749,33-02-03-221800000352016,2016,33,chief judicial magistrate,23,2016-12-09,2017-10-25
30699750,33-02-03-224000000112016,2016,33,chief judicial magistrate,25,2016-10-07,2018-09-12
30699751,33-02-03-224300000032016,2016,33,chief judicial magistrate,49,2016-03-05,2017-10-11

In [21]:
del cases_2016
gc.collect()

42

In [22]:
cases_last_5yrs = cases_last_5yrs.append(cases_2017, ignore_index=True)
cases_last_5yrs

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000022014,2014,1,chief judicial magistrate,25,2014-01-03,2014-10-28
1,01-01-01-201908000032014,2014,1,chief judicial magistrate,25,2014-01-01,2015-08-10
2,01-01-01-201908000052014,2014,1,chief judicial magistrate,25,2014-01-02,2014-06-10
3,01-01-01-201908000062014,2014,1,chief judicial magistrate,22,2014-01-04,2016-11-14
4,01-01-01-201908000072014,2014,1,chief judicial magistrate,25,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...
43765260,33-02-03-224000000122017,2017,33,chief judicial magistrate,52,2017-09-06,2017-10-27
43765261,33-02-03-224000000132018,2017,33,chief judicial magistrate,23,2017-12-27,2018-08-04
43765262,33-02-03-224100000122017,2017,33,chief judicial magistrate,33,2017-07-07,2017-11-28
43765263,33-02-03-224600000012018,2017,33,chief judicial magistrate,25,2017-12-30,2019-12-28
43765264,33-02-03-224600000092017,2017,33,chief judicial magistrate,25,2017-07-19,2018-03-17

In [23]:
del cases_2017
gc.collect()

42

In [24]:
cases_last_5yrs = cases_last_5yrs.append(cases_2018, ignore_index=True)
cases_last_5yrs

,ddl_case_id,year,state_code,judge_position,disp_name,date_of_filing,date_of_decision
0,01-01-01-201908000022014,2014,1,chief judicial magistrate,25,2014-01-03,2014-10-28
1,01-01-01-201908000032014,2014,1,chief judicial magistrate,25,2014-01-01,2015-08-10
2,01-01-01-201908000052014,2014,1,chief judicial magistrate,25,2014-01-02,2014-06-10
3,01-01-01-201908000062014,2014,1,chief judicial magistrate,22,2014-01-04,2016-11-14
4,01-01-01-201908000072014,2014,1,chief judicial magistrate,25,2014-01-04,2014-01-04
...,...,...,...,...,...,...,...
57489559,33-02-03-224600000062018,2018,33,chief judicial magistrate,25,2018-07-26,2018-09-12
57489560,33-02-03-224600000072018,2018,33,chief judicial magistrate,25,2018-08-25,2019-03-23
57489561,33-02-03-224600000082018,2018,33,chief judicial magistrate,25,2018-09-06,2019-03-28
57489562,33-02-03-224600000092018,2018,33,chief judicial magistrate,25,2018-09-14,2019-09-21
57489563,33-02-03-224600000102018,2018,33,chief judicial magistrate,16,2018-09-28,2018-12-29

In [25]:
del cases_2018
gc.collect()

42

In [26]:
cases_last_5yrs.to_csv("/kaggle/working/cases_last_5yrs.csv")

In [27]:
# disp_name_key = pd.read_csv("/kaggle/input/court-data/keys/keys/disp_name_key.csv")
# disp_name_key.head(10)

In [28]:
# disp_name_key.drop(columns=['year', 'count'], inplace=True)
# disp_name_key.head(10)

In [29]:
# cases_last_5yrs = pd.merge(cases_last_5yrs, disp_name_key, how='left', on='disp_name')
# cases_last_5yrs.head(10)